In [3]:

import pandas as pd

# I loaded the CSV by dragging/dropping the file into terminal creates a path. 
file1 = pd.read_csv('/Users/christinaland/Downloads/pandachallenge.py/PyCitySchools/Resources/schools_complete.csv')

# As above, I Loaded the CSV file utilizing the same method for students_complete file. 
file2 = pd.read_csv('/Users/christinaland/Downloads/pandachallenge.py/PyCitySchools/Resources/students_complete.csv')

# Display the first few rows of each DataFrame to ensure data was pathed correctly 
print("schools_complete:")
print(file1.head())

print("\nstudents_complete:")
print(file2.head())

schools_complete:
   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

students_complete:
   Student ID       student_name gender grade        school_name  \
0           0       Paul Bradley      M   9th  Huang High School
1           1       Victor Smith      M  12th  Huang High School
2           2    Kevin Rodriguez      M  12th  Huang High School
3           3  Dr. Richard Scott      M  12th  Huang High School
4           4         Bonnie Ray      F   9th  Huang High School

   reading_score  math_score
0             66          79
1             94          61
2             90          60
3             67          58
4             97          84

In [18]:
# I created a new variable name for file1 and file2 to read from each respective file path  to merge and generate a DataFrame. Note to self: without launching the header from the previous code, it wouldve been more diffcult to understand the formatting for "school_name" as shown in the dataframe below/above. (as suggested in the code instructions)
schoolsdataset = pd.read_csv('/Users/christinaland/Downloads/pandachallenge.py/PyCitySchools/Resources/schools_complete.csv')
studentdataset = pd.read_csv('/Users/christinaland/Downloads/pandachallenge.py/PyCitySchools/Resources/students_complete.csv')
dataframemerged = pd.merge(schoolsdataset, studentdataset, how="left",on="school_name")
dataframemerged.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [24]:
total_unique_schools = schoolsdataset['school_name'].nunique()  # Count unique names
print(f"Total number of unique schools: {total_unique_schools}")

Total number of unique schools: 15

In [6]:
total_students = dataframemerged['student_name'].count()  # Count non-null entries

# Display the result
print(f"Total number of students: {total_students}")

Total number of students: 39170

In [23]:
total_budget = schoolsdataset['budget'].sum()  # Sum the budget values

# Display the result
print(f"Total budget: ${total_budget:.2f}")

Total budget: $24649428.00

In [25]:
mean_math_score = dataframemerged['math_score'].mean()  # Calculate the mean for math 

# Display the result
print(f"Mean math score: {mean_math_score:.2f}")

Mean math score: 78.99

In [26]:
mean_reading_score = dataframemerged['reading_score'].mean()  # Calculate the mean

# Display the result
print(f"Mean reading score: {mean_reading_score:.2f}")

Mean reading score: 81.88

In [28]:
passing_math_count = dataframemerged[(dataframemerged["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(total_students) * 100
passing_math_percentage

np.float64(74.9808526933878)

In [30]:
passing_read_count = dataframemerged[(dataframemerged["reading_score"] >= 70)].count()["student_name"]
passing_read_percentage = passing_read_count / float(total_students) * 100
passing_read_percentage

np.float64(85.80546336482001)

In [31]:
passing_math_count = dataframemerged[
    (dataframemerged["math_score"] >= 70) & (dataframemerged["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_count /  float(total_students) * 100
overall_passing_rate

np.float64(65.17232575950983)

In [4]:
import pandas as pd

# Load the CSV files into respective DataFrames
schoolsdataset = pd.read_csv('/Users/christinaland/Downloads/pandachallenge.py/PyCitySchools/Resources/schools_complete.csv')
studentdataset = pd.read_csv('/Users/christinaland/Downloads/pandachallenge.py/PyCitySchools/Resources/students_complete.csv')

# Merge the DataFrames on the 'school_name' column
dataframemerged = pd.merge(studentdataset, schoolsdataset, how="left", on="school_name")

# Total number of schools
total_schools = schoolsdataset['school_name'].nunique()

# Total number of students
total_students = studentdataset.shape[0]

# Total budget
total_budget = schoolsdataset['budget'].sum()

# Average Math Score
average_math_score = dataframemerged['math_score'].mean()

# Average Reading Score
average_reading_score = dataframemerged['reading_score'].mean()

# Percentage Passing Math
passing_math = dataframemerged[dataframemerged['math_score'] >= 70].shape[0]
percentage_passing_math = (passing_math / total_students) * 100 if total_students > 0 else 0

# Percentage Passing Reading
passing_reading = dataframemerged[dataframemerged['reading_score'] >= 70].shape[0]
percentage_passing_reading = (passing_reading / total_students) * 100 if total_students > 0 else 0

# Percentage Overall Passing (passing both subjects)
passing_both = dataframemerged[(dataframemerged['math_score'] >= 70) & (dataframemerged['reading_score'] >= 70)].shape[0]
percentage_overall_passing = (passing_both / total_students) * 100 if total_students > 0 else 0

# Create a summary DataFrame
summary_df = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [percentage_passing_math],
    "% Passing Reading": [percentage_passing_reading],
    "% Overall Passing": [percentage_overall_passing]
})

# Display the summary DataFrame
print(summary_df)

   Total Schools  Total Students  Total Budget  Average Math Score  \
0             15           39170      24649428           78.985371

   Average Reading Score  % Passing Math  % Passing Reading  % Overall Passing
0               81.87784       74.980853          85.805463          65.172326

In [8]:
school_types = schoolsdataset.set_index(["school_name"])["type"]
print(school_types)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [41]:
# Calculate the total student count per school from school_data
total_students = schoolsdataset['size'].sum()

# Display the result
print(f"Total number of students: {total_students}")

Total number of students: 39170

In [44]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = schoolsdataset['budget'].sum()
print(f"Total Sum of Budget: ${per_school_budget:,.2f}")
# come back to per school capita
per_capita_spending = per_school_budget / total_students
print(f"Per Capita Budget: ${per_capita_spending:.2f}")

Total Sum of Budget: $24,649,428.00
Per Capita Budget: $629.29

In [19]:
#Calculate the average test scores per school from school_data_complete
per_school_math = dataframemerged['math_score'].mean()

# Display the result
print(f"The Average per School's Math Score: {per_school_math:.2f}")
per_school_reading = dataframemerged['reading_score'].mean()

# Display the result
print(f"The Average per School's Reading Score: {per_school_reading:.2f}")

The Average per School's Math Score: 78.99
The Average per School's Reading Score: 81.88

In [48]:
#Calculate the number of students per school with math scores of 70 or higher from school_data_complete
passing_students = dataframemerged[
    (dataframemerged['math_score'] >= 70) | (dataframemerged['reading_score'] >= 70)
]

# Count the total number of students who passed
total_passing_students = passing_students['student_name'].count()

# Display the result
print(f"Total number of students who passed with a score of 70 or higher: {total_passing_students}")

Total number of students who passed with a score of 70 or higher: 37452

In [53]:
 #Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
passing_reading = dataframemerged[dataframemerged['reading_score'] > 70]

# Group by school name and count the number of students per school
students_per_school_reading = passing_reading['student_name'].count()

# Display the results
print(students_per_school_reading)

32500

In [57]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
total_students_passing_both = dataframemerged[
    (dataframemerged["reading_score"] >= 70) & (dataframemerged["math_score"] >= 70)
].shape[0]

# Display the result
print(f"Total number of students who passed both math and reading with a score of 70 or higher: {total_students_passing_both}")

Total number of students who passed both math and reading with a score of 70 or higher: 25528

In [58]:
#come back too !!
per_school_passing_math = (total_passing_students / total_students) * 100
per_school_passsing_reading = (students_per_school_reading/ total_students) * 100
overall_passing_rate =  total_students_passing_both / total_students * 100

# Display the results
print(f"Per School Passing Math:\n{per_school_math}")
print(f"Per School Passing Reading:\n{per_school_passsing_reading}")
print(f"Overall Passing Rate:\n{overall_passing_rate}")

Per School Passing Math:
school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64
Per School Passing Reading:
82.97166198621395
Overall Passing Rate:
65.17232575950983

In [66]:
average_scores = dataframemerged.groupby('school_name').agg(
    average_reading_score=('reading_score', 'mean'),
    average_math_score=('math_score', 'mean')
).reset_index()

# Display the average scores
print(average_scores)
total_students_per_school = dataframemerged.groupby('school_name').size()

# Count the number of students who passed both math and reading (scores >= 70)
students_passing_both = dataframemerged[
    (dataframemerged['math_score'] >= 70) & (dataframemerged['reading_score'] >= 70)
].groupby('school_name').size()

# Calculate the overall passing rate
overall_passing_rate = (students_passing_both / total_students_per_school) * 100

# Convert to DataFrame for better readability
overall_passing_df = overall_passing_rate.reset_index(name='% Overall Passing')

# Display the results
print(overall_passing_df)

              school_name  average_reading_score  average_math_score
0      Bailey High School              81.033963           77.048432
1     Cabrera High School              83.975780           83.061895
2    Figueroa High School              81.158020           76.711767
3        Ford High School              80.746258           77.102592
4     Griffin High School              83.816757           83.351499
5   Hernandez High School              80.934412           77.289752
6      Holden High School              83.814988           83.803279
7       Huang High School              81.182722           76.629414
8     Johnson High School              80.966394           77.072464
9        Pena High School              84.044699           83.839917
10  Rodriguez High School              80.744686           76.842711
11    Shelton High School              83.725724           83.359455
12     Thomas High School              83.848930           83.418349
13     Wilson High School              83.989488           83.274201
14     Wright High School              83.955000           83.682222
              school_name  % Overall Passing
0      Bailey High School          54.642283
1     Cabrera High School          91.334769
2    Figueroa High School          53.204476
3        Ford High School          54.289887
4     Griffin High School          90.599455
5   Hernandez High School          53.527508
6      Holden High School          89.227166
7       Huang High School          53.513884
8     Johnson High School          53.539172
9        Pena High School          90.540541
10  Rodriguez High School          52.988247
11    Shelton High School          89.892107
12     Thomas High School          90.948012
13     Wilson High School          90.582567
14     Wright High School          90.333333

In [83]:
import pandas as pd

# Create the DataFrame with the provided data
data = {
    'school_name': [
        'Bailey High School', 'Cabrera High School', 'Figueroa High School', 
        'Ford High School', 'Griffin High School', 'Hernandez High School', 
        'Holden High School', 'Huang High School', 'Johnson High School', 
        'Pena High School', 'Rodriguez High School', 'Shelton High School', 
        'Thomas High School', 'Wilson High School', 'Wright High School'
    ],
    'School Type': [
        'District', 'Charter', 'District', 'District', 'Charter',
        'District', 'Charter', 'District', 'District', 'Charter',
        'District', 'Charter', 'Charter', 'Charter', 'Charter'
    ],
    'Total Students': [
        4976, 1858, 2949, 2739, 1468, 
        4635, 427, 2917, 4761, 962, 
        3999, 1761, 1635, 2283, 1800
    ],
    'Total School Budget': [
        '$3,124,928.00', '$1,081,356.00', '$1,884,411.00', '$1,763,916.00',
        '$917,500.00', '$3,022,020.00', '$248,087.00', '$1,910,635.00',
        '$3,094,650.00', '$585,858.00', '$2,547,363.00', '$1,056,600.00',
        '$1,043,130.00', '$1,319,574.00', '$1,049,400.00'
    ],
    'Per Student Budget': [
        '$628.00', '$582.00', '$639.00', '$644.00', '$625.00',
        '$652.00', '$581.00', '$655.00', '$650.00', '$609.00',
        '$637.00', '$600.00', '$638.00', '$578.00', '$583.00'
    ],
    'Average Math Score': [
        77.048432, 83.061895, 76.711767, 77.102592, 83.351499,
        77.289752, 83.803279, 76.629414, 77.072464, 83.839917,
        76.842711, 83.359455, 83.418349, 83.274201, 83.682222
    ],
    'Average Reading Score': [
        81.033963, 83.975780, 81.158020, 80.746258, 83.816757,
        80.934412, 83.814988, 81.182722, 80.966394, 84.044699,
        80.744686, 83.725724, 83.848930, 83.989488, 83.955000
    ],
    '% Passing Math': [
        66.680064, 94.133477, 65.988471, 68.309602, 93.392371,
        66.752967, 92.505855, 65.683922, 66.057551, 94.594595,
        66.366592, 93.867121, 93.272171, 93.867718, 93.333333
    ],
    '% Passing Reading': [
        81.933280, 97.039828, 80.739234, 79.299014, 97.138965,
        80.862999, 96.252927, 81.316421, 81.222432, 95.945946,
        80.220055, 95.854628, 97.308869, 96.539641, 96.611111
    ],
    '% Overall Passing': [
        54.642283, 91.334769, 53.204476, 54.289887, 90.599455,
        53.527508, 89.227166, 53.513884, 53.539172, 90.540541,
        52.988247, 89.892107, 90.948012, 90.582567, 90.333333
    ],
    'School Size': [
        'Large (2000-5000)', 'Medium (1000-2000)', 'Large (2000-5000)',
        'Large (2000-5000)', 'Medium (1000-2000)', 'Large (2000-5000)',
        'Small (<1000)', 'Large (2000-5000)', 'Large (2000-5000)',
        'Small (<1000)', 'Large (2000-5000)', 'Medium (1000-2000)',
        'Medium (1000-2000)', 'Large (2000-5000)', 'Medium (1000-2000)'
    ]
}

# Create the DataFrame
df = pd.DataFrame(data)

# Set the index to 'school_name'
df.set_index('school_name', inplace=True)

# Display the DataFrame
print(df)

                      School Type  Total Students Total School Budget  \
school_name
Bailey High School       District            4976       $3,124,928.00
Cabrera High School       Charter            1858       $1,081,356.00
Figueroa High School     District            2949       $1,884,411.00
Ford High School         District            2739       $1,763,916.00
Griffin High School       Charter            1468         $917,500.00
Hernandez High School    District            4635       $3,022,020.00
Holden High School        Charter             427         $248,087.00
Huang High School        District            2917       $1,910,635.00
Johnson High School      District            4761       $3,094,650.00
Pena High School          Charter             962         $585,858.00
Rodriguez High School    District            3999       $2,547,363.00
Shelton High School       Charter            1761       $1,056,600.00
Thomas High School        Charter            1635       $1,043,130.00
Wilson High School        Charter            2283       $1,319,574.00
Wright High School        Charter            1800       $1,049,400.00

                      Per Student Budget  Average Math Score  \
school_name
Bailey High School               $628.00           77.048432
Cabrera High School              $582.00           83.061895
Figueroa High School             $639.00           76.711767
Ford High School                 $644.00           77.102592
Griffin High School              $625.00           83.351499
Hernandez High School            $652.00           77.289752
Holden High School               $581.00           83.803279
Huang High School                $655.00           76.629414
Johnson High School              $650.00           77.072464
Pena High School                 $609.00           83.839917
Rodriguez High School            $637.00           76.842711
Shelton High School              $600.00           83.359455
Thomas High School               $638.00           83.418349
Wilson High School               $578.00           83.274201
Wright High School               $583.00           83.682222

                       Average Reading Score  % Passing Math  \
school_name
Bailey High School                 81.033963       66.680064
Cabrera High School                83.975780       94.133477
Figueroa High School               81.158020       65.988471
Ford High School                   80.746258       68.309602
Griffin High School                83.816757       93.392371
Hernandez High School              80.934412       66.752967
Holden High School                 83.814988       92.505855
Huang High School                  81.182722       65.683922
Johnson High School                80.966394       66.057551
Pena High School                   84.044699       94.594595
Rodriguez High School              80.744686       66.366592
Shelton High School                83.725724       93.867121
Thomas High School                 83.848930       93.272171
Wilson High School                 83.989488       93.867718
Wright High School                 83.955000       93.333333

                       % Passing Reading  % Overall Passing  \
school_name
Bailey High School             81.933280          54.642283
Cabrera High School            97.039828          91.334769
Figueroa High School           80.739234          53.204476
Ford High School               79.299014          54.289887
Griffin High School            97.138965          90.599455
Hernandez High School          80.862999          53.527508
Holden High School             96.252927          89.227166
Huang High School              81.316421          53.513884
Johnson High School            81.222432          53.539172
Pena High School               95.945946          90.540541
Rodriguez High School          80.220055          52.988247
Shelton High School            95.854628          89.892107
Thomas High School             97.308869          90.948012
Wilson High School             96.539641          90.582567
Wright High School             96.611111          90.333333

                              School Size
school_name
Bailey High School      Large (2000-5000)
Cabrera High School    Medium (1000-2000)
Figueroa High School    Large (2000-5000)
Ford High School        Large (2000-5000)
Griffin High School    Medium (1000-2000)
Hernandez High School   Large (2000-5000)
Holden High School          Small (<1000)
Huang High School       Large (2000-5000)
Johnson High School     Large (2000-5000)
Pena High School            Small (<1000)
Rodriguez High School   Large (2000-5000)
Shelton High School    Medium (1000-2000)
Thomas High School     Medium (1000-2000)
Wilson High School      Large (2000-5000)
Wright High School     Medium (1000-2000)

In [85]:
import pandas as pd

# Create the DataFrame with the provided data
data = {
    'school_name': [
        'Bailey High School', 'Cabrera High School', 'Figueroa High School', 
        'Ford High School', 'Griffin High School', 'Hernandez High School', 
        'Holden High School', 'Huang High School', 'Johnson High School', 
        'Pena High School', 'Rodriguez High School', 'Shelton High School', 
        'Thomas High School', 'Wilson High School', 'Wright High School'
    ],
    'School Type': [
        'District', 'Charter', 'District', 'District', 'Charter',
        'District', 'Charter', 'District', 'District', 'Charter',
        'District', 'Charter', 'Charter', 'Charter', 'Charter'
    ],
    'Total Students': [
        4976, 1858, 2949, 2739, 1468, 
        4635, 427, 2917, 4761, 962, 
        3999, 1761, 1635, 2283, 1800
    ],
    'Total School Budget': [
        '$3,124,928.00', '$1,081,356.00', '$1,884,411.00', '$1,763,916.00',
        '$917,500.00', '$3,022,020.00', '$248,087.00', '$1,910,635.00',
        '$3,094,650.00', '$585,858.00', '$2,547,363.00', '$1,056,600.00',
        '$1,043,130.00', '$1,319,574.00', '$1,049,400.00'
    ],
    'Per Student Budget': [
        '$628.00', '$582.00', '$639.00', '$644.00', '$625.00',
        '$652.00', '$581.00', '$655.00', '$650.00', '$609.00',
        '$637.00', '$600.00', '$638.00', '$578.00', '$583.00'
    ],
    'Average Math Score': [
        77.048432, 83.061895, 76.711767, 77.102592, 83.351499,
        77.289752, 83.803279, 76.629414, 77.072464, 83.839917,
        76.842711, 83.359455, 83.418349, 83.274201, 83.682222
    ],
    'Average Reading Score': [
        81.033963, 83.975780, 81.158020, 80.746258, 83.816757,
        80.934412, 83.814988, 81.182722, 80.966394, 84.044699,
        80.744686, 83.725724, 83.848930, 83.989488, 83.955000
    ],
    '% Passing Math': [
        66.680064, 94.133477, 65.988471, 68.309602, 93.392371,
        66.752967, 92.505855, 65.683922, 66.057551, 94.594595,
        66.366592, 93.867121, 93.272171, 93.867718, 93.333333
    ],
    '% Passing Reading': [
        81.933280, 97.039828, 80.739234, 79.299014, 97.138965,
        80.862999, 96.252927, 81.316421, 81.222432, 95.945946,
        80.220055, 95.854628, 97.308869, 96.539641, 96.611111
    ],
    '% Overall Passing': [
        54.642283, 91.334769, 53.204476, 54.289887, 90.599455,
        53.527508, 89.227166, 53.513884, 53.539172, 90.540541,
        52.988247, 89.892107, 90.948012, 90.582567, 90.333333
    ],
    'School Size': [
        'Large (2000-5000)', 'Medium (1000-2000)', 'Large (2000-5000)',
        'Large (2000-5000)', 'Medium (1000-2000)', 'Large (2000-5000)',
        'Small (<1000)', 'Large (2000-5000)', 'Large (2000-5000)',
        'Small (<1000)', 'Large (2000-5000)', 'Medium (1000-2000)',
        'Medium (1000-2000)', 'Large (2000-5000)', 'Medium (1000-2000)'
    ]
}

# Create the DataFrame
school_size_df = pd.DataFrame(data)
school_size_df.set_index('school_name', inplace=True)

# Now perform the groupby operations
size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size_df.groupby(["School Size"])["% Overall Passing"].mean()

# Display the results
print("Average Math Scores by School Size:")
print(size_math_scores)
print("\nAverage Reading Scores by School Size:")
print(size_reading_scores)
print("\nAverage % Passing Math by School Size:")
print(size_passing_math)
print("\nAverage % Passing Reading by School Size:")
print(size_passing_reading)
print("\nAverage % Overall Passing by School Size:")
print(size_overall_passing)

Average Math Scores by School Size:
School Size
Large (2000-5000)     77.746417
Medium (1000-2000)    83.374684
Small (<1000)         83.821598
Name: Average Math Score, dtype: float64

Average Reading Scores by School Size:
School Size
Large (2000-5000)     81.344493
Medium (1000-2000)    83.864438
Small (<1000)         83.929844
Name: Average Reading Score, dtype: float64

Average % Passing Math by School Size:
School Size
Large (2000-5000)     69.963361
Medium (1000-2000)    93.599695
Small (<1000)         93.550225
Name: % Passing Math, dtype: float64

Average % Passing Reading by School Size:
School Size
Large (2000-5000)     82.766634
Medium (1000-2000)    96.790680
Small (<1000)         96.099436
Name: % Passing Reading, dtype: float64

Average % Overall Passing by School Size:
School Size
Large (2000-5000)     58.286003
Medium (1000-2000)    90.621535
Small (<1000)         89.883854
Name: % Overall Passing, dtype: float64

In [88]:
import pandas as pd

# Sample data for per_school_summary DataFrame
data = {
    'School Type': ['District', 'Charter', 'District', 'District', 'Charter'],
    'Average Math Score': [77.0, 83.1, 76.5, 78.2, 82.4],
    'Average Reading Score': [81.0, 84.2, 79.5, 80.8, 83.0],
    '% Passing Math': [66.5, 94.0, 67.0, 69.0, 92.5],
    '% Passing Reading': [80.0, 96.0, 81.0, 82.0, 94.0],
    '% Overall Passing': [53.5, 90.0, 55.0, 56.0, 88.5]
}

# Create the DataFrame
per_school_summary = pd.DataFrame(data)

# Optionally, set an index if needed (e.g., by school name if included)
# per_school_summary.set_index('school_name', inplace=True)
# Group by "School Type" and calculate the averages
average_math_score_by_type = per_school_summary.groupby("School Type")["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby("School Type")["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby("School Type")["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby("School Type")["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby("School Type")["% Overall Passing"].mean()

# Display the results
print("Average Math Scores by School Type:")
print(average_math_score_by_type)
print("\nAverage Reading Scores by School Type:")
print(average_reading_score_by_type)
print("\nAverage % Passing Math by School Type:")
print(average_percent_passing_math_by_type)
print("\nAverage % Passing Reading by School Type:")
print(average_percent_passing_reading_by_type)
print("\nAverage % Overall Passing by School Type:")
print(average_percent_overall_passing_by_type)

Average Math Scores by School Type:
School Type
Charter     82.750000
District    77.233333
Name: Average Math Score, dtype: float64

Average Reading Scores by School Type:
School Type
Charter     83.600000
District    80.433333
Name: Average Reading Score, dtype: float64

Average % Passing Math by School Type:
School Type
Charter     93.25
District    67.50
Name: % Passing Math, dtype: float64

Average % Passing Reading by School Type:
School Type
Charter     95.0
District    81.0
Name: % Passing Reading, dtype: float64

Average % Overall Passing by School Type:
School Type
Charter     89.250000
District    54.833333
Name: % Overall Passing, dtype: float64